.beneficiary__form {
  display:flex;
  flex-direction: column;
}
.beneficiary__input {
  width: 103%;
  /*padding: 20px;*/
  outline: none;
  border-radius: 5px;
  margin: 20px 0;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(144, 164, 183, 0.22);
  font-size: 18px;
  height: 50px;
}
.beneficiary__btn {
  width: 100%;
  border: none;
  color: #fff;
  background-color: #00CB9D;
  margin-top: 50px;
  padding: 13px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  text-transform: capitalize;
}
.beneficiary__form--header {
  text-align: center;
  padding-top: 41px;
}
@media screen and (min-width: 768px){

}