* {
  color: #000;
}
a:active {
  color: #3b3737;
  text-decoration: none;
}
.header {
  display: flex;
  height: 62px;
  align-items: center;
  justify-content: space-between;
  padding: 13px;
}

.menu__btn {
  /*width: 30px;*/
  /*height: 30px;*/
  /*background: #000;*/
  margin: 0 19px;
  position: absolute;
}
.menu__btn--icon {
  width: 25px;
}
.nav .nav__list {
  display: none;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 200px;
  height: 100px;
  padding: 17px;
}
.nav__brand {
  margin-left: 55px;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Rubik Mono One', sans-serif;
}
.nav__brand .nav__link {
  /*margin-left: 55px;*/
  text-transform: uppercase;
  font-weight: bolder;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 17px;
}
.nav__brand:active a {
  text-decoration: none;
  color: #222222;
}
.nav__link {
  color: #222222;
}
.nav__link:hover {
  text-decoration: none;
  cursor: pointer;
}
/*.nav__link:active {*/
  /*text-decoration: none;*/
  /*outline: none;*/
/*}*/
.nav .nav__list .nav__list--item {
  margin: 5px 0px;
}

.nav .nav__list .nav__link {
  text-transform: capitalize;
  color: #222222;
}
.nav__btn {
  padding: 10px 28px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .header {
    padding:13px 0;
  }
  .nav__brand {
    flex: 1;
    margin-left: 0;
  }
  .menu__btn {
    display: none;
  }
  .nav .nav__list .nav__list--item {
    margin: 5px 10px;
  }
  .nav .nav__list {
    position: relative;
    background-color: transparent;
    width: auto;
    height: auto;
    display: flex;
    flex: 2;
    margin: 0;
  }
}
